@font-face {
    font-family: 'PDMS_Jauhar';
    src: url('_PDMS_Jauhar.woff2') format('woff2'),
        url('_PDMS_Jauhar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

